* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  background-color: #cf2e2ebf;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
