.container {
  width: 80%;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.supportSection {
  margin-top: 20px;
}

.supportItem {
  margin-bottom: 15px;
}

.supportItem h2 {
  color: #333;
  margin-bottom: 10px;
}

.supportItem p {
  color: #666;
  line-height: 1.5;
}

.supportItem a {
  color: #007bff;
  text-decoration: none;
}

.supportItem a:hover {
  text-decoration: underline;
}
